<footer class="custom-footer py-3 mt-auto">
    <div class="container">
      <div class="row align-items-center">
        <!-- Logo y nombre -->
        <div class="col-md-6 d-flex align-items-center mb-3 mb-md-0">
          <img src="assets/logo.webp" alt="CapVibe Logo" height="30" class="me-2">
          <span class="footer-brand">CapVibe</span>
        </div>
        
        <!-- Copyright -->
        <div class="col-md-6 text-md-end">
          <p class="mb-0">&copy; {{ currentYear }} CapVibe. Todos los derechos reservados.</p>
        </div>
      </div>
    </div>
  </footer>